.project-img:hover>div {
	opacity:1;
	-webkit-backdrop-filter:blur(1px);
	backdrop-filter:blur(1px);
	cursor:pointer;
}

.project-body
{
	width:100%;
	transition:opacity 0.4s ease;
	opacity:0;
	background-size:cover;	
}

.project-body:hover
{
	opacity:1;
	cursor:pointer;
}

.project-card {
	transition:all 0.4s ease;
}
